@model List<Recipe>
@{
    ViewData["Title"] = "Add Recipe Page";
}
<div class="index_wrapper container-fluid">
    <h2>Rezept hinzufügen</h2>
    <br />
    <div class="left-column">
        <h4>Zutaten hinzufügen</h4>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <a class="btn button-back" asp-controller="Recipe" asp-action="Index">Back to the Recipe Page</a>
                <br />
            </div>
        </div>
    </div>
    <div class="right-column">
        <h4>Schritte hinzufügen</h4>
    </div>
</div>