@model List<Recipe>
@{
    Layout = null;
}

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="tp_element row" style="margin-left: 30px;">
        <p class="tp_name_text col-3">
            @Model.ElementAt(i).Name
        </p>
        <p class="index-text col-7">
            @Model.ElementAt(i).Description
        </p>
        <p class="index-text col-1">
            <button onclick="updateRecipeDetail(@Model[i].RecipeId)" type="button" class="btn btn-info btn-sm">
                <i class="material-icons" style="font-size:20px">
                    description
                </i>
            </button>
        </p>
    </div>
}
