@Model  List<NutritionViewModel>
@{
    Layout = null;
}

<!-- Modal Nutrition Detail-->
<div class="modal fade text-black" id="recipeNutritionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">
                    <h4 class="modal-title" id="NutritionLabel">Nutrition Information</h4>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>


            <div class="modal-body">

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-back" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
