@model List<FridgeItem>
@{
    Layout = null;
}
<div class="col-lg-12 mx-auto bg-white rounded shadow">
    <div class="table-responsive">
        <table class="table table-fixed" width="100%">
            <thead>
                <tr>
                    <th class="col-4" scope="col">Name</th>
                    <th class="col-2" scope="col">Haltbarkeit</th>
                    <th class="col-3" scope="col">Verbrauchen</th>
                    <th class="col-3" scope="col">Löschen</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr class="@(Model.ElementAt(i).ExpiryDate.Subtract(DateTime.Today).TotalDays < 5 ? "table-danger" : "")">

                            <th class="col-4" style=" font-size:large" scope="row">@Model.ElementAt(i).Name</th>
                            <td class="col-2" style=" font-size:large">
                                @Model.ElementAt(i).ExpiryDate.Subtract(DateTime.Today).TotalDays
                            </td>
                            <td class="col-3">
                                <button onclick="editTP(@Model[i].Id)" type="button" class="btn button-edit btn-sm">
                                    <i class="material-icons" style="font-size:14px">
                                        edit
                                    </i>
                                </button>
                                <!--Adding Modal----->
                            </td>
                            <td class="col-3">
                                <button type="button" class="btn button-delete btn-sm" data-toggle="modal" data-target="#modalDeleteTP@(Model[i].Id)">
                                    <i class="material-icons" style="font-size:14px">
                                        delete_forever
                                    </i>
                                </button>
                                <!--Adding Modal----->
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
    </div>
 </div>
