@model List<FridgeItem>
@{
    Layout = null;
}
@for (int i = 0; i < Model.Count(); i++)
{
    <div class="tp_element row" style="margin-left: 30px; background-color: @(Model.ElementAt(i).ExpiryDate.Subtract(DateTime.Today).TotalDays < 5 ? "lightcoral" : "lightgreen")">
        <p class="tp_name_text col-5">
            @Model.ElementAt(i).Name
        </p>
        <p class="index-text col-3">
            @Model.ElementAt(i).ExpiryDate.Subtract(DateTime.Today).TotalDays Days
        </p>
        <p class="index-text col-2">
            <button onclick="editTP(@Model[i].Id)" type="button" class="btn button-edit btn-sm">
                <i class="material-icons" style="font-size:20px">
                    edit
                </i>
            </button>
        </p>
        <p class="index-text col-2">
            <button type="button" class="btn button-delete btn-sm" data-toggle="modal" data-target="#modalDeleteTP@(Model[i].Id)">
                <i class="material-icons" style="font-size:20px">
                    delete_forever
                </i>
            </button>
        </p>
    </div>
}

