@model List<ShoppingListItem>
@{
    ViewData["Title"] = "Shopping Page";
}
               <div class="index_wrapper container">
                   <h2>Shopping Liste</h2>
                   <br />
                   <p>
                       Test Content
                   </p>
                   <div class="row">
                       <div class="col-sm-3">
                           <a class="btn button-back" asp-controller="Home" asp-action="Index">Back to the Home Page</a>
                           <br />
                       </div>
                   </div>
               </div>
