@model FridgePlanner.Models.ViewModels.ShoppingViewModel
@{
    Layout = null;
}
<div class="index_wrapper container-fluid">
    <h2>Shopping Liste</h2>
    <br />
    <div class="row">

        <div class="col-8 table-wrapper-scroll-y fridge-scrollbar">
            @await Html.PartialAsync("ShoppingPartial.cshtml", Model.ShoppingItems)
        </div>
        <div class="col-4">

            <a data-toggle="modal" data-target="#addShoppingModal" class="btn btn-success btn-block" style="color:white;">
                <span class="material-icons icon-large">
                    add
                </span>
                <p class="button-text">
                    Artikel hinzufügen
                </p>
            </a>

            <br />
            @{
                if (Model != null)
                {
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCodeData))" style="height:250px; margin-left: 40px; margin-top: 100px;" />
                }
                else
                {
                    <h4>No Data available, Model is empty</h4>
                }
            }
        </div>


    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <a class="btn btn-dark" asp-controller="Fridge" asp-action="Index">Back to the Home Page</a>
            <br />
        </div>
    </div>
</div>