@{
    ViewData["Title"] = "Fridge Page";
}
@model FridgePlanner.Models.ViewModels.IndexViewModel;

<div class="row" style="height: 100%;">

    <div class ="col-lg-6 col-md-12 col-sm-12 col-xl-6">
        
            <div style="text-align:left;">
                <h1><u>Vorräte</u></h1>
                <br />
            </div>

            <div class="polaroid">
                <div id="FridgeList" class="fridge-scrollbar" >
                    @await Html.PartialAsync("FridgeTablePartial.cshtml", Model.FridgeItems)
                </div>
            </div>
        <br />
    </div>


    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-6" >

        <div style="text-align:left;">
            
                <h1><u>Navigation</u></h1>
         
            <br />
        </div>

        <div class="row">
            <div class="col-4" >
                <a data-toggle="modal" data-target="#addFridgeModal" class="btn btn-success btn-block nav-link middle-buttons text-white" >
                    <span class="material-icons icon-large">
                        add
                    </span>
                    <p class="button-text">
                        Lebensmittel
                    </p>
                </a>
            </div>

            <div class="col-4">
                <a asp-controller="Recipe" asp-action="Index" class="btn btn-success btn-block nav-link middle-buttons text-white">
                    <span class="material-icons icon-large">
                        receipt
                    </span>
                    <p class="button-text">
                        Rezepte
                    </p>
                </a>
            </div>
            <div class="col-4">
                <a asp-controller="Shopping" asp-action="Index" class="btn btn-success btn-block nav-link middle-buttons text-white">
                    <span class="material-icons icon-large">
                        shopping_cart
                    </span>
                    <p class="button-text">
                        Einkaufsliste
                    </p>
                </a>
            </div>
        </div>
        <br />

        <div style="text-align:left;">
            <h1><u>Rezepte</u></h1>
            <br />
        </div>

        <div class="polaroid">
            <div class="recipe-scrollbar">
                @await Html.PartialAsync("RecipeTablePartial.cshtml", Model.Recipes)
            </div>
        </div>
        <br />
    </div>
</div>
<div id="recipeDetailView">

</div>
<script>
    var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
    var ps = new PerfectScrollbar(myCustomScrollbar);

    var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');

    myCustomScrollbar.onscroll = function () {
        scrollbarY.style.cssText = `top: ${this.scrollTop}px!important; height: 500px; right: ${-this.scrollLeft}px`;
    }
</script>

<!-- Modal Add FridgeItem-->
<div class="modal fade text-black" id="addFridgeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">
                    <h4 class="modal-title" id="editNewsLabel">Lebensmittel hinzufügen</h4>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form" style="margin-top:5px;">
                                <input id="fridgeName" type="text" class="form-control" placeholder="Name eingeben" aria-describedby="basic-addon1">
                            </div>
                            <div class="md-form" style="margin-top:5px;">
                                <input id="fridgeAmount" type="number" class="form-control" placeholder="Menge eingeben" aria-describedby="basic-addon1">
                            </div>
                            <div class="md-form" style="margin-top:5px;">
                                <select class="custom-select" id="fridgeUnit">
                                    @foreach (string units in Model.Units)
                                    {
                                        if (units.Equals(Model.Units[0]))
                                        {
                                            <option selected value="@units">@units</option>
                                        }
                                        else
                                        {
                                            <option value="@units">@units</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="md-form" style="margin-top:5px;">
                                <input id="fridgeExpireDate" type="date" class="form-control" placeholder="Haltbarkeitsdatum wählen" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button onclick="addFridgeItem()" type="button" data-dismiss="modal" class="btn btn-success">Lebensmittel hinzufügen</button>
            </div>
        </div>
    </div>
</div>